## 4.2.3 データの整形

In [1]:
import numpy as np
import pandas as pd

In [66]:
# データ取得
df=pd.read_excel("data/201704health.xlsx")

In [20]:
# 10000歩以上の日のみ抽出
# df["歩数"] >=10000 以下と同様
df.loc[:,"歩数"] >=10000

0     False
1     False
2      True
3     False
4     False
5     False
6     False
7     False
8      True
9     False
10    False
11    False
12     True
13    False
14    False
15    False
16    False
17    False
18    False
19     True
20     True
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
Name: 歩数, dtype: bool

In [21]:
# 10000歩以上の日のみ抽出
# Dataframeの形式で出力 
df_selected = df[df["歩数"] >=10000]
df_selected

            日付     歩数  摂取カロリー
2   2017-04-03  10238    1950
8   2017-04-09  12045    1950
12  2017-04-13  10287    1800
19  2017-04-20  15328    1800
20  2017-04-21  12849    1940

In [22]:
# 行数と列数の確認
df_selected.shape

(5, 3)

In [23]:
# 複数の条件
df.query('歩数 >=10000 and '' 摂取カロリー<=1800')

            日付     歩数  摂取カロリー
12  2017-04-13  10287    1800
19  2017-04-20  15328    1800

In [5]:
#変換前のデータ型確認
df.dtypes

日付        object
歩数         int64
摂取カロリー     int64
dtype: object

In [68]:
#datetime形式のdateカラムを追加
df.loc[:,'date'] = df.loc[:,'日付'].apply(pd.to_datetime)
df.head()

           日付     歩数  摂取カロリー       date
0  2017-04-01   5439    2500 2017-04-01
1  2017-04-02   2510    2300 2017-04-02
2  2017-04-03  10238    1950 2017-04-03
3  2017-04-04   8209    1850 2017-04-04
4  2017-04-05   9434    1930 2017-04-05

In [69]:
# 摂取カロリーをfloat型へ変換
df.loc[:,"摂取カロリー"] = df.loc[:,"摂取カロリー"].astype(np.float32)

In [70]:
# dateをインデックスに入れる
df = df.set_index("date")
# 前頭５行表示
df.head()

                    日付     歩数  摂取カロリー
date
2017-04-01  2017-04-01   5439  2500.0
2017-04-02  2017-04-02   2510  2300.0
2017-04-03  2017-04-03  10238  1950.0
2017-04-04  2017-04-04   8209  1850.0
2017-04-05  2017-04-05   9434  1930.0

### 並び替え

In [73]:
# 昇順
df.sort_values(by="歩数",ascending=True).head()

                    日付    歩数  摂取カロリー
date
2017-04-02  2017-04-02  2510  2300.0
2017-04-23  2017-04-23  3890  1950.0
2017-04-22  2017-04-22  4029  2300.0
2017-04-30  2017-04-30  4093  1950.0
2017-04-08  2017-04-08  4873  2300.0

In [72]:
#降順
df.sort_values(by="歩数",ascending=False).tail()

                    日付    歩数  摂取カロリー
date
2017-04-08  2017-04-08  4873  2300.0
2017-04-30  2017-04-30  4093  1950.0
2017-04-22  2017-04-22  4029  2300.0
2017-04-23  2017-04-23  3890  1950.0
2017-04-02  2017-04-02  2510  2300.0

### 不要なカラムの削除

In [74]:
#「日付」カラムの削除
df.drop("日付",axis=1).tail()

              歩数  摂取カロリー
date
2017-04-26  7492  1850.0
2017-04-27  7203  1930.0
2017-04-28  7302  1850.0
2017-04-29  6033  2300.0
2017-04-30  4093  1950.0

### 組み合わせデータの挿入

In [76]:
# 「歩数/摂取カロリー」を新規カラムとして作成
df.loc[:,"歩数/カロリー"] =df.loc[:,"歩数"] / df.loc[:,"摂取カロリー"]
df.head()

                    日付     歩数  摂取カロリー   歩数/カロリー
date
2017-04-01  2017-04-01   5439  2500.0  2.175600
2017-04-02  2017-04-02   2510  2300.0  1.091304
2017-04-03  2017-04-03  10238  1950.0  5.250256
2017-04-04  2017-04-04   8209  1850.0  4.437297
2017-04-05  2017-04-05   9434  1930.0  4.888083

In [77]:
# 「歩数/カロリー」のデータを元に運動指数を計算するメソッド
def exercise_judge(ex):
    if ex  <= 3.0:
        return "Low"
    elif 3.0 < ex <=6.0:
        return "Mid"
    else:
        return "High"

In [78]:
# 関数呼び出す、引数代入
df.loc[:,"運動指数"] = df.loc[:,"歩数/カロリー"].apply(exercise_judge)
df

                    日付     歩数  摂取カロリー   歩数/カロリー  運動指数
date
2017-04-01  2017-04-01   5439  2500.0  2.175600   Low
2017-04-02  2017-04-02   2510  2300.0  1.091304   Low
2017-04-03  2017-04-03  10238  1950.0  5.250256   Mid
2017-04-04  2017-04-04   8209  1850.0  4.437297   Mid
2017-04-05  2017-04-05   9434  1930.0  4.888083   Mid
2017-04-06  2017-04-06   7593  1800.0  4.218333   Mid
2017-04-07  2017-04-07   9320  1940.0  4.804124   Mid
2017-04-08  2017-04-08   4873  2300.0  2.118696   Low
2017-04-09  2017-04-09  12045  1950.0  6.176923  High
2017-04-10  2017-04-10   7493  1850.0  4.050270   Mid
2017-04-11  2017-04-11   7289  1930.0  3.776684   Mid
2017-04-12  2017-04-12   6481  2300.0  2.817826   Low
2017-04-13  2017-04-13  10287  1800.0  5.715000   Mid
2017-04-14  2017-04-14   8043  1940.0  4.145876   Mid
2017-04-15  2017-04-15   7435  2300.0  3.232609   Mid
2017-04-16  2017-04-16   7529  2300.0  3.273478   Mid
2017-04-17  2017-04-17   8031  1940.0  4.139691   Mid
2017-04-18  2017-04-18   8475  2300.0  3.684783   Mid
2017-04-19  2017-04-19   8132  1950.0  4.170256   Mid
2017-04-20  2017-04-20  15328  1800.0  8.515556  High
2017-04-21  2017-04-21  12849  1940.0  6.623196  High
2017-04-22  2017-04-22   4029  2300.0  1.751739   Low
2017-04-23  2017-04-23   3890  1950.0  1.994872   Low
2017-04-24  2017-04-24   8093  1850.0  4.374595   Mid
2017-04-25  2017-04-25   7823  1950.0  4.011795   Mid
2017-04-26  2017-04-26   7492  1850.0  4.049730   Mid
2017-04-27  2017-04-27   7203  1930.0  3.732124   Mid
2017-04-28  2017-04-28   7302  1850.0  3.947027   Mid
2017-04-29  2017-04-29   6033  2300.0  2.623043   Low
2017-04-30  2017-04-30   4093  1950.0  2.098974   Low

In [79]:
# データのバックアップ
df.to_pickle("data/df_201704headlth.pickle")

In [80]:
df_moved = pd.get_dummies(df.loc[:,"運動指数"],prefix="運動")
df_moved.tail()

            運動_High  運動_Low  運動_Mid
date
2017-04-26        0       0       1
2017-04-27        0       0       1
2017-04-28        0       0       1
2017-04-29        0       1       0
2017-04-30        0       1       0

In [83]:
from sklearn.preprocessing import LabelEncoder,OneHotEncoder

# データをコピー
df_oneHot = df.copy()

# ラベルエンコーダをインスタンス化
le = LabelEncoder()

#英語のLow、Mid、Lowを1,2,3に変換
df_oneHot['運動指数'] = le.fit_transform(df_oneHot['運動指数'])

#One-Hotエンコーダをインスタンス化
ohe = OneHotEncoder(categorical_features=[1])

# One-Hotエンコーディング
ohe.fit_transform(df_oneHot).toarray()

ValueError: could not convert string to float: '2017-04-30'

In [81]:
# データのバックアップ
df_moved.to_pickle("data/df_201704moved.pickle")

## 4.2.4 時系列データ

In [58]:
# 1ヶ月分のデータを作成
dates = pd.date_range(start="20200701",end="20200731")
dates

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
               '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
               '2020-07-09', '2020-07-10', '2020-07-11', '2020-07-12',
               '2020-07-13', '2020-07-14', '2020-07-15', '2020-07-16',
               '2020-07-17', '2020-07-18', '2020-07-19', '2020-07-20',
               '2020-07-21', '2020-07-22', '2020-07-23', '2020-07-24',
               '2020-07-25', '2020-07-26', '2020-07-27', '2020-07-28',
               '2020-07-29', '2020-07-30', '2020-07-31'],
              dtype='datetime64[ns]', freq='D')

In [59]:
# 日付をインデックスして、乱数をカラムしたDataFrameを作成
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1,31,31),index=dates,columns=["乱数"])
df

            乱数
2020-07-01  14
2020-07-02   3
2020-07-03  29
2020-07-04   3
2020-07-05   7
2020-07-06  18
2020-07-07  20
2020-07-08  11
2020-07-09  28
2020-07-10  26
2020-07-11  23
2020-07-12   2
2020-07-13   1
2020-07-14  18
2020-07-15  16
2020-07-16  10
2020-07-17   1
2020-07-18  15
2020-07-19   1
2020-07-20  16
2020-07-21  26
2020-07-22  20
2020-07-23  15
2020-07-24  30
2020-07-25   5
2020-07-26   1
2020-07-27  17
2020-07-28   5
2020-07-29  18
2020-07-30  24
2020-07-31   4

In [60]:
# 1年分のデータを作成
dates = pd.date_range(start="20200701", periods=365)
dates

DatetimeIndex(['2020-07-01', '2020-07-02', '2020-07-03', '2020-07-04',
               '2020-07-05', '2020-07-06', '2020-07-07', '2020-07-08',
               '2020-07-09', '2020-07-10',
               ...
               '2021-06-21', '2021-06-22', '2021-06-23', '2021-06-24',
               '2021-06-25', '2021-06-26', '2021-06-27', '2021-06-28',
               '2021-06-29', '2021-06-30'],
              dtype='datetime64[ns]', length=365, freq='D')

In [61]:
# 日付をインデックスして、乱数をカラムしたDataFrameを作成
np.random.seed(123)
df = pd.DataFrame(np.random.randint(1,31,365),index=dates,columns=["乱数"])
df

            乱数
2020-07-01  14
2020-07-02   3
2020-07-03  29
2020-07-04   3
2020-07-05   7
2020-07-06  18
2020-07-07  20
2020-07-08  11
2020-07-09  28
2020-07-10  26
2020-07-11  23
2020-07-12   2
2020-07-13   1
2020-07-14  18
2020-07-15  16
2020-07-16  10
2020-07-17   1
2020-07-18  15
2020-07-19   1
2020-07-20  16
2020-07-21  26
2020-07-22  20
2020-07-23  15
2020-07-24  30
2020-07-25   5
2020-07-26   1
2020-07-27  17
2020-07-28   5
2020-07-29  18
2020-07-30  24
...         ..
2021-06-01   8
2021-06-02  13
2021-06-03  30
2021-06-04   9
2021-06-05  22
2021-06-06  24
2021-06-07  24
2021-06-08  15
2021-06-09  15
2021-06-10  24
2021-06-11  29
2021-06-12  22
2021-06-13  17
2021-06-14  17
2021-06-15  15
2021-06-16  25
2021-06-17  16
2021-06-18  18
2021-06-19  17
2021-06-20  15
2021-06-21  15
2021-06-22  21
2021-06-23  12
2021-06-24  16
2021-06-25  27
2021-06-26  22
2021-06-27   5
2021-06-28  22
2021-06-29   1
2021-06-30   8

[365 rows x 1 columns]

In [62]:
# 毎月の平均値
df.groupby(pd.Grouper(freq='M')).mean()

                   乱数
2020-07-31  13.774194
2020-08-31  13.483871
2020-09-30  16.233333
2020-10-31  14.935484
2020-11-30  15.600000
2020-12-31  14.129032
2021-01-31  15.903226
2021-02-28  15.571429
2021-03-31  17.935484
2021-04-30  14.966667
2021-05-31  12.806452
2021-06-30  17.466667

In [63]:
# 引数のカラムを乱数に固定して、毎月の平均値を出力
df.loc[:,"乱数"].resample('M').mean()

2020-07-31    13.774194
2020-08-31    13.483871
2020-09-30    16.233333
2020-10-31    14.935484
2020-11-30    15.600000
2020-12-31    14.129032
2021-01-31    15.903226
2021-02-28    15.571429
2021-03-31    17.935484
2021-04-30    14.966667
2021-05-31    12.806452
2021-06-30    17.466667
Freq: M, Name: 乱数, dtype: float64

### [Grouper](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.Grouper.html)

### 複雑な条件のインデックス

In [64]:
# 1年分の土曜日の日付データを作成
pd.date_range(start="20200101", end="20201231",freq="W-SAT")

DatetimeIndex(['2020-01-04', '2020-01-11', '2020-01-18', '2020-01-25',
               '2020-02-01', '2020-02-08', '2020-02-15', '2020-02-22',
               '2020-02-29', '2020-03-07', '2020-03-14', '2020-03-21',
               '2020-03-28', '2020-04-04', '2020-04-11', '2020-04-18',
               '2020-04-25', '2020-05-02', '2020-05-09', '2020-05-16',
               '2020-05-23', '2020-05-30', '2020-06-06', '2020-06-13',
               '2020-06-20', '2020-06-27', '2020-07-04', '2020-07-11',
               '2020-07-18', '2020-07-25', '2020-08-01', '2020-08-08',
               '2020-08-15', '2020-08-22', '2020-08-29', '2020-09-05',
               '2020-09-12', '2020-09-19', '2020-09-26', '2020-10-03',
               '2020-10-10', '2020-10-17', '2020-10-24', '2020-10-31',
               '2020-11-07', '2020-11-14', '2020-11-21', '2020-11-28',
               '2020-12-05', '2020-12-12', '2020-12-19', '2020-12-26'],
              dtype='datetime64[ns]', freq='W-SAT')

In [65]:
df_year = pd.DataFrame(df.groupby(pd.Grouper(freq='W-SAT')).sum(),columns=['乱数'])
df_year

             乱数
2020-07-04   49
2020-07-11  133
2020-07-18   63
2020-07-25  113
2020-08-01   72
2020-08-08  124
2020-08-15  118
2020-08-22   87
2020-08-29   56
2020-09-05  102
2020-09-12  127
2020-09-19  121
2020-09-26   92
2020-10-03  139
2020-10-10  107
2020-10-17  125
2020-10-24   85
2020-10-31   82
2020-11-07  112
2020-11-14  132
2020-11-21   78
2020-11-28  111
2020-12-05  102
2020-12-12  101
2020-12-19   81
2020-12-26  116
2021-01-02  107
2021-01-09  127
2021-01-16   73
2021-01-23  118
2021-01-30  117
2021-02-06  112
2021-02-13   70
2021-02-20  129
2021-02-27  124
2021-03-06  120
2021-03-13  175
2021-03-20  113
2021-03-27  106
2021-04-03   81
2021-04-10  126
2021-04-17  106
2021-04-24  117
2021-05-01   87
2021-05-08   71
2021-05-15   75
2021-05-22   94
2021-05-29  118
2021-06-05  120
2021-06-12  153
2021-06-19  125
2021-06-26  128
2021-07-03   36